<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout/admin-head.html :: admin-head('Edit User')"></head>
<body class="sb-nav-fixed">
<nav th:replace="layout/admin-navbar.html :: admin-navbar"></nav>
<div id="layoutSidenav">
    <div th:replace="layout/admin-aside.html :: admin-aside"></div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Create User</h1>
                <form method="post" th:action="@{/admin/users/create}">
                    <div class="form-group">
                        <label for="firstName">First Name *</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" required>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name *</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email *</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password *</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="form-group">
                        <label for="role">Role *</label>
                        <select class="form-control" id="role" name="role">
                            <option th:each="role : ${roles}"
                                    th:value="${role.id}" th:text="${role.name}">
                            </option>
                        </select>
                    </div>

                    <button type="submit" class="mt-2 btn btn-primary">Save</button>
                    <div th:if="${errors != null}">
                        <ul class="errors">
                            <li th:each="error : ${errors}" th:text="${error.defaultMessage}"></li>
                        </ul>
                    </div>
                </form>
            </div>
        </main>
        <footer th:replace="layout/admin-footer.html :: admin-footer"></footer>
    </div>
</div>
</body>
</html>
