<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout/admin-head.html :: admin-head('Dashboard')"></head>
<body class="sb-nav-fixed">
<nav th:replace="layout/admin-navbar.html :: admin-navbar"></nav>
<div id="layoutSidenav">
    <div th:replace="layout/admin-aside.html :: admin-aside"></div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Users</h1>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <form class="d-flex bg-light-gray" th:action="@{/admin/users}" method="get">
                        <input class="form-control me-2" type="search" name="query" placeholder="Search..."
                               aria-label="Search">
                        <button class="btn btn-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                    <a th:href="@{/admin/users/create}" class="btn btn-primary">Aggiungi nuovo</a>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Users
                    </div>
                    <div class="card-body">
                        <table class="table table-striped" id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Articles</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user, userStat : ${users}">
                                <td th:text="${user.id}">ID</td>
                                <td th:text="${user.fullName}">Name</td>
                                <td th:text="${user.email}">Email</td>
                                <td th:text="${user.role.name}">Role</td>
                                <td th:text="${postCounts[userStat.index]}">Articles</td>
                                <td class="container d-flex justify-content-end">
                                    <a th:href="@{/admin/users/profile/{id}(id=${user.id})}" class="btn btn-warning m-1">
                                        <i class="fa-solid fa-pencil"></i>
                                    </a>
<!--                                    <form th:action="@{/admin/users/delete/{id}(id=${user.id})}" method="post">-->
<!--                                        <button type="submit" class="btn btn-danger m-1">-->
<!--                                            <i class="fa-solid fa-trash-can"></i>-->
<!--                                        </button>-->
<!--                                    </form>-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="layout/admin-footer.html :: admin-footer"></footer>
    </div>
</div>
</body>
</html>