<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout/admin-head.html :: admin-head('Dashboard')"></head>
<body class="sb-nav-fixed">
<nav th:replace="layout/admin-navbar.html :: admin-navbar"></nav>
<div id="layoutSidenav">
    <div th:replace="layout/admin-aside.html :: admin-aside"></div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Messages</h1>
                <form class="d-flex ms-auto bg-light-gray mt-3 mb-3" th:action="@{/admin/categories/search}" method="get">
                    <input class="form-control me-2" type="search" name="query" placeholder="Search..."
                           aria-label="Search">
                    <button class="btn btn-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Posts
                    </div>
                    <div class="card-body">
                        <table class="table table-striped" id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Message</th>
                                <th>Date</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="message : ${messages}">
                                <td th:text="${message.name}"></td>
                                <td th:text="${message.email}"></td>
                                <td th:text="${message.text}"></td>
                                <td th:text="${message.date}"></td>
                                <td class="container d-flex justify-content-end">
                                    <a th:href="@{/admin/messages/{messageId}(messageId=${message.id})}" class="btn btn-primary m-1">
                                        <i class="fa-solid fa-circle-info"></i>
                                    </a>
                                    <a th:href="'mailto:' + ${message.email}" class="btn btn-warning m-1">
                                        <i class="fa-solid fa-reply"></i>
                                    </a>
                                    <form th:action="@{/admin/messages/delete/{id}(id=${message.id})}" method="post">
                                        <button type="submit" class="btn btn-danger m-1">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="layout/admin-footer.html :: admin-footer"></footer>
    </div>
</div>
</body>
</html>