<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout/head.html :: head(${catalogTitle})"></head>
<body>
<!-- Navigation  -->
<nav th:replace="layout/navbar.html :: navbar"></nav>
<!-- Header   -->
<header th:replace="layout/header.html :: header(${catalogTitle}, '', 'https://appmaster.io/api/_files/hRaLG2N4DVjRZJQzCpN2zJ/download/')"></header>
<!-- Main  -->
<main class="container px-4 mb-5 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="post-preview" th:each="post : ${posts}">
                <a class="post-link" th:href="@{/posts/{blogId}(blogId=${post.id})}">
                    <h2 th:text="${post.title}"></h2>
                    <div th:if="${post.subheading}" th:text="${post.subheading}"></div>
                    <div th:utext="${#strings.abbreviate(post.content, 65)}"></div>
                    <p class="post-meta">Posted by <span th:text="${post.author.fullName}" style="color: #212529" href="#"></span> on  <span th:text="${post.getFormattedDate()}"></span></p>
                    <hr class="my-4" th:unless="${postStat.last}">
                </a>
            </div>
        </div>
    </div>
</main> <!--  End Main  -->
<!-- Footer -->
<footer th:replace="layout/footer.html :: footer"></footer>
</body>
</html>