<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="layout/admin-head.html :: admin-head('Dashboard')"></head>
<body class="sb-nav-fixed">
<nav th:replace="layout/admin-navbar.html :: admin-navbar"></nav>
<div id="layoutSidenav">
    <div th:replace="layout/admin-aside.html :: admin-aside"></div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">All Categories</h1>
                <div class="d-flex justify-content-between align-items-center mt-3 mb-3">
                    <form class="d-flex" th:action="@{/admin/categories/search}" method="get">
                        <input class="form-control me-2" type="search" name="query" placeholder="Search..." aria-label="Search">
                        <button class="btn btn-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                    <form method="post" th:action="@{/admin/posts/categories/create}" class="d-flex">
                        <input type="text" class="form-control me-2" id="name" name="name" placeholder="Create category..." required>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Posts
                    </div>
                    <div class="card-body">
                        <table class="table table-striped" id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="category : ${categories}">
                                <td th:text="${category.id}"></td>
                                <td th:text="${category.name}"></td>
                                <td class="container d-flex justify-content-end">
                                    <a th:href="@{/admin/posts/categories/update/{id}(id=${category.id})}" class="btn btn-warning m-1">
                                        <i class="fa-solid fa-pencil"></i>
                                    </a>
<!--                                    <form th:action="@{/admin/posts/categories/delete/{id}(id=${category.id})}" method="post">-->
<!--                                        <button type="submit" class="btn btn-danger m-1">-->
<!--                                            <i class="fa-solid fa-trash-can"></i>-->
<!--                                        </button>-->
<!--                                    </form>-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="layout/admin-footer.html :: admin-footer"></footer>
    </div>
</div>
</body>
</html>